%TMPL:DEF{"kupuscripts"}%
<script type="text/javascript" src="%KUPU{"URL"}%/sarissa.js"></script>
<script type="text/javascript" src="%KUPU{"URL"}%/kupuhelpers.js"></script>
<script type="text/javascript" src="%KUPU{"URL"}%/kupueditor.js"></script>
<script type="text/javascript" src="%KUPU{"URL"}%/kuputwikitools.js"></script>
<script type="text/javascript" src="%KUPU{"URL"}%/kupuloggers.js"></script>
<script type="text/javascript" src="%KUPU{"URL"}%/kupucontentfilters.js"></script>
<script type="text/javascript" src="%KUPU{"URL"}%/kupucontextmenu.js"></script>
<script type="text/javascript" src="%KUPU{"URL"}%/kupuinit.js"></script>
<script type="text/javascript" src="%KUPU{"URL"}%/kupustart.js"></script>
<script type="text/javascript" src="%KUPU{"URL"}%/kupusaveonpart.js"></script>
<script type="text/javascript" src="%KUPU{"URL"}%/kupusourceedit.js"></script>
%TMPL:END%

%TMPL:DEF{"kupubodystart"}%
<body class="twikiNoViewPage twikiEditPage" bgcolor="#ffffff" onload="kupu = startKupu()">
%TMPL:END%

%TMPL:DEF{"kupuconfig"}%
<div style="display: none;">
  <xml id="kupuconfig">
    <kupuconfig>
      <dst>%SCRIPTURLPATH%/html2twiki%SCRIPTSUFFIX%/%WEB%/%TOPIC%</dst>
      <redirect>%SCRIPTURLPATH%/view%SCRIPTSUFFIX%/%WEB%/%TOPIC%</redirect>
      <current_web>%WEB%</current_web>
      <current_topic>%TOPIC%</current_topic>
      <use_css>1</use_css>
      <reload_after_save>0</reload_after_save>
      <strict_output>1</strict_output>
      <content_type>application/xhtml+xml</content_type>
      <compatible_singletons>1</compatible_singletons>
    </kupuconfig>
  </xml>
</div>
%TMPL:END%

%TMPL:DEF{"kuputoolbar"}%
<div class="kupu-tb" id="toolbar">
  <span id="kupu-tb-buttons">
    <span class="kupu-tb-buttongroup" style="float: right">
      <button type="button" class="kupu-logo" title="Kupu 1.1" accesskey="k" onclick="window.open('http://kupu.oscom.org');"></button>
    </span>
    <select id="kupu-tb-styles">
      <option xmlns:i18n="http://xml.zope.org/namespaces/i18n" value="P" i18n:translate="paragraph-normal">Normal</option>
      <option value="H1"><span xmlns:i18n="http://xml.zope.org/namespaces/i18n" i18n:translate="heading">Heading</span> 1</option>
      <option value="H2"><span xmlns:i18n="http://xml.zope.org/namespaces/i18n" i18n:translate="heading">Heading</span> 2</option>
      <option value="H3"><span xmlns:i18n="http://xml.zope.org/namespaces/i18n" i18n:translate="heading">Heading</span> 3</option>
      <option value="H4"><span xmlns:i18n="http://xml.zope.org/namespaces/i18n" i18n:translate="heading">Heading</span> 4</option>
      <option value="H5"><span xmlns:i18n="http://xml.zope.org/namespaces/i18n" i18n:translate="heading">Heading</span> 5</option>
      <option value="H6"><span xmlns:i18n="http://xml.zope.org/namespaces/i18n" i18n:translate="heading">Heading</span> 6</option>
      <option xmlns:i18n="http://xml.zope.org/namespaces/i18n" value="PRE" i18n:translate="paragraph-formatted">Verbatim</option>
    </select>
    <span class="kupu-tb-buttongroup">
      <button xmlns:i18n="http://xml.zope.org/namespaces/i18n" type="button" class="kupu-save" id="kupu-save-button" title="save & exit: alt-s" i18n:attributes="title" accesskey="s"></button>
    </span>
    <span class="kupu-tb-buttongroup">
      <button xmlns:i18n="http://xml.zope.org/namespaces/i18n" type="button" class="kupu-bold" id="kupu-bold-button" title="bold: alt-b" i18n:attributes="title" accesskey="b"></button>
      <button xmlns:i18n="http://xml.zope.org/namespaces/i18n" type="button" class="kupu-italic" id="kupu-italic-button" title="italic: alt-i" i18n:attributes="title" accesskey="i"></button>
      <button xmlns:i18n="http://xml.zope.org/namespaces/i18n" type="button" class="kupu-underline" id="kupu-underline-button" title="underline: alt-u" i18n:attributes="title" accesskey="u"></button>
    </span>
    <span class="kupu-tb-buttongroup">
      <button xmlns:i18n="http://xml.zope.org/namespaces/i18n" type="button" class="kupu-subscript" id="kupu-subscript-button" title="subscript: alt--" i18n:attributes="title" accesskey="-"></button>
      <button xmlns:i18n="http://xml.zope.org/namespaces/i18n" type="button" class="kupu-superscript" id="kupu-superscript-button" title="superscript: alt-+" i18n:attributes="title" accesskey="+"></button>
    </span>
    <span class="kupu-tb-buttongroup">
      <button xmlns:i18n="http://xml.zope.org/namespaces/i18n" type="button" class="kupu-forecolor" id="kupu-forecolor-button" title="text color: alt-f" i18n:attributes="title" accesskey="f"></button>
      <button xmlns:i18n="http://xml.zope.org/namespaces/i18n" type="button" class="kupu-hilitecolor" id="kupu-hilitecolor-button" title="background color: alt-h" i18n:attributes="title" accesskey="h"></button>
    </span>
    <span class="kupu-tb-buttongroup">
      <button xmlns:i18n="http://xml.zope.org/namespaces/i18n" type="button" class="kupu-twikiicons" id="kupu-twikiicons-button" title="TWiki Icons: alt-k" i18n:attributes="title" accesskey="k"></button>
    </span>
    <span class="kupu-tb-buttongroup">
      <button xmlns:i18n="http://xml.zope.org/namespaces/i18n" type="button" class="kupu-justifyleft" id="kupu-justifyleft-button" title="left justify: alt-l" i18n:attributes="title" accesskey="l"></button>
      <button xmlns:i18n="http://xml.zope.org/namespaces/i18n" type="button" class="kupu-justifycenter" id="kupu-justifycenter-button" title="center justify: alt-c" i18n:attributes="title" accesskey="c"></button>
      <button xmlns:i18n="http://xml.zope.org/namespaces/i18n" type="button" class="kupu-justifyright" id="kupu-justifyright-button" title="right justify: alt-r" i18n:attributes="title" accesskey="r"></button>
    </span>
    <span class="kupu-tb-buttongroup">
      <button xmlns:i18n="http://xml.zope.org/namespaces/i18n" type="button" class="kupu-insertorderedlist" title="numbered list: alt-#" id="kupu-list-ol-addbutton" i18n:attributes="title" accesskey="#"></button>
      <button xmlns:i18n="http://xml.zope.org/namespaces/i18n" type="button" class="kupu-insertunorderedlist" title="unordered list: alt-*" id="kupu-list-ul-addbutton" i18n:attributes="title" accesskey="*"></button>
    </span>
    <span class="kupu-tb-buttongroup">
      <button xmlns:i18n="http://xml.zope.org/namespaces/i18n" type="button" class="kupu-insertdefinitionlist" title="definition list: alt-=" id="kupu-list-dl-addbutton" i18n:attributes="title" accesskey="="></button>
    </span>
    <span class="kupu-tb-buttongroup">
      <button xmlns:i18n="http://xml.zope.org/namespaces/i18n" type="button" class="kupu-outdent" id="kupu-outdent-button" title="outdent: alt-&lt;" i18n:attributes="title" accesskey="&lt;"></button>
      <button xmlns:i18n="http://xml.zope.org/namespaces/i18n" type="button" class="kupu-indent" id="kupu-indent-button" title="indent: alt-&gt;" i18n:attributes="title" accesskey="&gt;"></button>
    </span>
    <span class="kupu-tb-buttongroup">
      <button xmlns:i18n="http://xml.zope.org/namespaces/i18n" type="button" class="kupu-removeimage invisible" id="kupu-removeimage-button" title="Remove image" i18n:attributes="title"></button>
      <button xmlns:i18n="http://xml.zope.org/namespaces/i18n" type="button" class="kupu-removelink invisible" id="kupu-removelink-button" title="Remove link" i18n:attributes="title"></button>
      <button xmlns:i18n="http://xml.zope.org/namespaces/i18n" type="button" class="kupu-removevar invisible" id="kupu-removevar-button" title="Remove Variable" i18n:attributes="title"></button>
    </span>
    <span class="kupu-tb-buttongroup">
      <button xmlns:i18n="http://xml.zope.org/namespaces/i18n" type="button" class="kupu-undo" id="kupu-undo-button" title="undo: alt-z" i18n:attributes="title" accesskey="z"></button>
      <button xmlns:i18n="http://xml.zope.org/namespaces/i18n" type="button" class="kupu-redo" id="kupu-redo-button" title="redo: alt-y" i18n:attributes="title" accesskey="y"></button>
    </span>
    <span class="kupu-tb-buttongroup">
      <button xmlns:i18n="http://xml.zope.org/namespaces/i18n" type="button" class="kupu-source" id="kupu-source-button" title="Edit source" i18n:attributes="title"></button>
    </span>
  </span>
  <select id="kupu-ulstyles">
    <option xmlns:i18n="http://xml.zope.org/namespaces/i18n" value="disc" i18n:translate="list-disc">disc</option>
  </select>
  <select id="kupu-olstyles">
    <option xmlns:i18n="http://xml.zope.org/namespaces/i18n" value="decimal" i18n:translate="list-decimal">1</option>
    <option xmlns:i18n="http://xml.zope.org/namespaces/i18n" value="upper-roman" i18n:translate="list-upperroman">I</option>
    <option xmlns:i18n="http://xml.zope.org/namespaces/i18n" value="lower-roman" i18n:translate="list-lowerroman">i</option>
    <option xmlns:i18n="http://xml.zope.org/namespaces/i18n" value="upper-alpha" i18n:translate="list-upperalpha">A</option>
    <option xmlns:i18n="http://xml.zope.org/namespaces/i18n" value="lower-alpha" i18n:translate="list-loweralpha">a</option>
  </select>
</div>
%TMPL:END%

%TMPL:DEF{"kuputoolbox-properties"}%
<div class="kupu-toolbox" id="kupu-toolbox-properties">
  <h1 id="properties-title">Properties</h1>
  <div>
    <table id="kupu-properties">
    <tbody>
      <tr>
        <td class="kupu-toolbox-label">Title</td>
        <td>
          <input id="kupu-properties-title" style="width: 16em;"/>
        </td>
      </tr>
      <tr>
        <td colspan="2" class="kupu-toolbox-label" style="width: 22em;">Description</td>
      </tr>
      <tr>
        <td colspan="2">
          <textarea id="kupu-properties-description"> </textarea>
        </td>
      </tr>
    </tbody>
  </table>
  </div>
</div>
%TMPL:END%

%TMPL:DEF{"kuputoolbox-links"}%
<div class="kupu-toolbox" id="kupu-toolbox-links">
  <h1 id="links-title" xmlns:i18n="http://xml.zope.org/namespaces/i18n" i18n:translate="links">Internal & External Links</h1>
  <div>
    <input type="radio" name="lc" id="linkCurrentWeb" value="currentweb" CHECKED/>%WEB% topics<br>
    <input type="radio" name="lc" id="linkAllWeb" value="allweb"/>All topics<br>
    <input type="radio" name="lc" id="linkExternal" value="external"/>External links<br>
    <hr/>
    <div id="div-current-web" style="text-align: center">
      Choose a topic from the list :         
      <select id='current-web-select' style="width: 19.2em;">
        %KUPU{"WEBTOPICS"}%
      </select>  
    </div>
    <div id="div-all-web" style="text-align: center; display: none;">
      Choose a topic from the list :         
      <select id='all-web-select' style="width: 19.2em;">
        %KUPU{"ALLTOPICS"}%
      </select>
    </div>
    <div id="div-external" style="text-align: center; display: none;">
      Target :
      <input id="kupu-link-input" class="kupu-toolbox-st" type="text" style="width: 19.2em;"/>
    </div>
    <div id="kupu-toolbox-addlink" style="text-align: center">
      <button type="button" id="kupu-link-button" class="kupu-toolbox-action">Make Link</button>
    </div>
  </div>
</div>
%TMPL:END%

%TMPL:DEF{"kuputoolbox-variables"}%
<div class="kupu-toolbox" id="kupu-toolbox-twikivar">
  <h1 id="variables-title" xmlns:i18n="http://xml.zope.org/namespaces/i18n" i18n:translate="links">TWiki Variables</h1>
  <div style="text-align: center">
    <select id='twiki-var-select' style="width: 19.2em;">
      %KUPU{"TWIKIVARS"}%
    </select>
    <br/>
    <button type="button" id='twiki-var-button' class="kupu-toolbox-action">Insert Variable</button>
  </div>
</div>
%TMPL:END%

%TMPL:DEF{"kuputoolbox-attachments"}%
<div class="kupu-toolbox" id="kupu-toolbox-attachments">
  <h1 id="attachments-title" xmlns:i18n="http://xml.zope.org/namespaces/i18n" i18n:translate="links">Attachments</h1>
  <div>
  <iframe width="100%" height="230px" id="kupu-attachments-iframe" frameborder="0" src="%SCRIPTURLPATH%/kupu_attachments%SCRIPTSUFFIX%/%WEB%/%TOPIC%"></iframe>
  </div>
</div>
%TMPL:END%

%TMPL:DEF{"kuputoolbox-images"}%
<div class="kupu-toolbox" id="kupu-toolbox-images">
  <h1 id="images-title" xmlns:i18n="http://xml.zope.org/namespaces/i18n" i18n:translate="images">Images</h1>
  <div>
  <div class="kupu-toolbox-label"><span xmlns:i18n="http://xml.zope.org/namespaces/i18n" i18n:translate="">
    Insert image at the following URL</span>:
  </div>
  <input id="kupu-image-input" value="kupuimages/kupu_icon.gif" class="kupu-toolbox-st" type="text" size="14"/>
  <div style="text-align: center">
    <button type="button" id="kupu-image-addbutton" class="kupu-toolbox-action">Insert Image</button>
  </div>
  </div>
</div>
%TMPL:END%

%TMPL:DEF{"kuputoolbox-tables"}%
<div class="kupu-toolbox" id="kupu-toolbox-tables">
  <h1 id="tables-title" xmlns:i18n="http://xml.zope.org/namespaces/i18n" i18n:translate="table-inspector">Tables</h1>
  <div>
  <table width="100%">
    <tbody>
      <tr>
        <td class="kupu-toolbox-label">Table Class</td>
        <td>
          <select id="kupu-table-classchooser">
            <option value="plain">Plain</option>
            <option value="listing">Listing</option>
            <option value="grid">Grid</option>
            <option value="data">Data</option>
          </select>
        </td>
      </tr>
      <tr>
        <td colspan="2">
          <div id="kupu-toolbox-addtable">
            <table width="100%">
              <tr>
                <td class="kupu-toolbox-label">Rows</td>
                <td>
                  <input id="kupu-table-newrows"/>
                </td>
              </tr>
              <tr>
                <td class="kupu-toolbox-label">Columns</td>
                <td>
                  <input id="kupu-table-newcols"/>
                </td>
              </tr>
              <tr>
                <td class="kupu-toolbox-label">Headings</td>
                <td class="kupu-toolbox-label">
                  <input name="kupu-table-makeheader" id="kupu-table-makeheader" type="checkbox"/>
                  <label for="kupu-table-makeheader">Create</label>
                </td>
              </tr>
              <tr>
                <td colspan="2" style="text-align: center">
                  <button type="button" id="kupu-table-addtable-button">Add Table</button>
                </td>
              </tr>
            </table>
          </div>
          <div id="kupu-toolbox-edittable">
            <table width="100%">
              <tr>
                <td>Col Align</td>
                <td>
                  <select id="kupu-table-alignchooser">
                    <option value="left">Left</option>
                    <option value="center">Center</option>
                    <option value="right">Right</option>
                  </select>
                </td>
              </tr>
              <tr>
                <td>Column</td>
                <td>
                  <button type="button" id="kupu-table-addcolumn-button">Add</button>
                  <button type="button" id="kupu-table-delcolumn-button">Remove</button>
                </td>
              </tr>
              <tr>
                <td>Row</td>
                <td>
                  <button type="button" id="kupu-table-addrow-button">Add</button>
                  <button type="button" id="kupu-table-delrow-button">Remove</button>
                </td>
              </tr>
            </table>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
  </div>
</div>
%TMPL:END%

%TMPL:DEF{"kuputoolbox-permissions"}%
<div class="kupu-toolbox" id="kupu-toolbox-twikiperms" style="text-align:center;">
  <h1 id="permissions-title" xmlns:i18n="http://xml.zope.org/namespaces/i18n" i18n:translate="links">Permissions</h1>
  <div>
  Permissions&nbsp;
  <button id="view-perms" type="button">View</button>
  <button id="change-perms" type="button">Change</button>
  <div id="kupu-perms-selector">
    <h1 xmlns:i18n="http://xml.zope.org/namespaces/i18n" i18n:translate="links" id="perm-header" style="cursor: default;">Permissions</h1>
    Press <font color="red">Enter</font> to add users/groups to the list.
    <input id="input-perms" style="width:99%;" type="text" value="UserName"/>
    <br/>
    <select id="list-perms" style="width:100%;" multiple size="3"></select>
    <br/>
    <button id="remove-perms" style="width:40%;">Remove User(s)</button>
    <button id="perms-close" style="width:40%;">Close</button>
  </div>
  </div>
</div>
%TMPL:END%

%TMPL:DEF{"kuputoolbox-debug"}%
<div class="kupu-toolbox" id="kupu-toolbox-debug">
  <h1 id="debug-title" xmlns:i18n="http://xml.zope.org/namespaces/i18n" i18n:translate="debug-log">Debug Log</h1>
  <div id="kupu-toolbox-debuglog" class="kupu-toolbox-label" style="height: 150px;">
  </div>
</div>
%TMPL:END%

%TMPL:DEF{"kupueditor"}%
<div class="kupu-editorframe">
  <form>
    <iframe id="kupu-editor" frameborder="0" src="%SCRIPTURLPATH%/twiki2html%SCRIPTSUFFIX%/%WEB%/%TOPIC%" scrolling="auto"></iframe>
    <textarea id="kupu-editor-textarea" style="display: none"></textarea>
  </form>
</div>
%TMPL:END%

%TMPL:DEF{"kupu"}%
%TMPL:P{"kupuconfig"}%
<div class="kupu-fulleditor">
%TMPL:P{"kuputoolbar"}%
<div class="kupu-toolboxes">
%TMPL:P{"kuputoolbox-links"}%%TMPL:P{"kuputoolbox-variables"}%%TMPL:P{"kuputoolbox-attachments"}%%TMPL:P{"kuputoolbox-tables"}%%TMPL:P{"kuputoolbox-permissions"}%%TMPL:P{"kuputoolbox-debug"}%
</div>
<table id="kupu-colorchooser" cellpadding="0" cellspacing="0" style="position: fixed; border-style: solid; border-color: black; border-width: 1px;">
</table>
<div id="kupu-twikiicons">%TWIKIICONS%</div>
%TMPL:P{"kupueditor"}%
</div>
%TMPL:END%