%TMPL:INCLUDE{"twiki"}%
%TMPL:INCLUDE{"kupu"}%

%TMPL:DEF{"head"}%
<head>
<title>%TMPL:P{"titleaction"}%%TOPIC% %TMPL:P{"titlesep"}% %WEB% %TMPL:P{"titlesep"}% %WIKITOOLNAME%</title>
<meta http-equiv="Content-Type" content="text/html; charset=%CHARSET%" />
<meta name="robots" content="noindex" />
%HTTP_EQUIV_ON_VIEW%
<base href="%SCRIPTURL%/view%SCRIPTSUFFIX%/%WEB%/%TOPIC%"/>
<style type="text/css" media="all">
body {
     font-size: 0.85em;
}
</style>
%TMPL:P{"kupuscripts"}%
</head>
%TMPL:END%

%TMPL:DEF{"topicaction"}%<input type="submit" class="twikiSubmit" name="action" value="Cancel" id="cancel" />%TMPL:END%
%TMPL:DEF{"webaction"}%Change topic%TMPL:END%

%TMPL:P{"htmldoctype"}%
%TMPL:P{"head"}%
%TMPL:P{"kupubodystart"}%
%TMPL:P{"simpleheader"}%
%TMPL:P{"kupu"}%
<form name="main" action="%SCRIPTURLPATH%/save%SCRIPTSUFFIX%/%WEB%/%TOPIC%" method="post">
%TMPL:P{"standardfooter"}%
</form>
%TMPL:P{"bodyend"}%